/* --------- Estilos generales --------- */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(222, 179, 206);
  text-align: center;
}

/* --Titulos -- */
.titulo {
  color:coral;
  ;
  text-align: center;
}

.

.logo {
  width: 250px;
  border-radius: 10px;
  text-align: center;

}


.
}

  
  }

.menu a {
  text-decoration: none;
  color: #5a2d82;
  
  
}

.menu a:hover {
  color: coral;
}


/* --Footer -- */


.footer {
  
  color: #5a2d82;
}

